<h1>Featured Movies</h1>
<form class="form-inline searchbox" (ngSubmit)="onMovie_Submit(movie_search)" #movie_search="ngForm">
	<div class="Search">
		<!-- <form > -->
		<input class="form-control mr-sm-1" type="text" placeholder="Search" id="Search" ngModel name="Search">
		<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
		<!-- </form> -->
		<p>
			<kbd>Click</kbd> on any movie to view more details.</p>
		<p>{{message}}</p>
		<div *ngIf="displayLoad" class="loading-container">
			<div class="loading"></div>
		</div>
		<div *ngIf="!displayLoad" class="mainForm">
			<div (click)="selectMovie(movie.id)" *ngFor="let movie of Movies" class="col-sm-5 col-lg-3 col-md-4 card movies-card" id="{{movie.id}}">
				<h1 *ngIf="selectedMovie == movie.id" style="color: white">SELECTED</h1>
				<img class="card-img-top" src="{{ movie.image }}" alt="Card image cap">
				<div class="card-footer">
					<h3 class="card-text">
						<p class="movie-title">{{ movie.title }}</p>
					</h3>
				</div>
			</div>
		</div>

		<div class="search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="500"
		 (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
		</div>