<div style="display: flex; flex-direction: column">
	<h1>{{movieType}} Movies List</h1>
	<p style="flex-wrap: wrap">
		<kbd>Hover</kbd> on any movie to view more details.</p>
	<p>{{message}}</p>
	<button type="button" class="btn btn-outline-info btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Filter</button>
	<div class="dropdown-menu filterDrop" aria-labelledby="btnGroupDrop1">
		<a class="dropdown-items" (click)="onFilter('title')">title</a>
		<a class="dropdown-items" (click)="onFilter('year')">year</a>
		<a class="dropdown-items" (click)="onFilter('rating')">rating</a>
		<a class="dropdown-items" (click)="onFilter('download_count')">download_count</a>
		<a class="dropdown-items" (click)="onFilter('like_count')">like_count</a>
	</div>
</div>
<div *ngIf="movieError" class="Error Display">
	<h3>
		{{movieError}}
	</h3>
</div>

<div *ngIf="displayLoad" class="loading-container">
	<div class="loading"></div>
</div>


<div *ngIf="!displayLoad" class="mainForm">
	<div *ngFor="let movie of Movies" class="movies-card" id="{{movie.id}}" (mouseover)="showContent(movie.id)" (mouseleave)="showContent()">
		<div>
			<img class="movie-image" src="{{ movie.image }}">
		</div>

		<div class="overlay">
			<div class="header movie-header">
				<span class="author">Director</span>
				<h1 class="lead movie-title">
					<a>{{ movie.title }}</a>
				</h1>
				<span class="year">{{movie.year}}</span>
				<br>
				<span class="movie-genre" *ngFor="let genre of this.movie.genres">{{genre}}, </span>
				<hr style="background: white;" />
			</div>
			<div class="movie-content">
				<p [ngClass]=" (hoverMovie == movie.id) ? 'summary-show': 'summary-hide'" class="movie-summary">{{ movie.summary | ellipsis:350 }}</p>
			</div>
			<div class="movie-footer">
				<button class="btn btn-outline-primary" (click)="viewMovie(movie.id)">Watch Now!</button>
			</div>
		</div>
	</div>
</div>
<div *ngIf="loadMore" class="loading-container">
	<div class="loading"></div>
</div>
<div class="search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="500"
 (scrolled)="onScrollDown()">
</div>