.detailswrapper{
	background-color: red;
	height: 100%;
	width: 100%;
}body{
	background-color: #2e2e2e;
}
.videoWrapper{
	width: 100%;
	height: 60%;
}

.submenu-closed{
	transition: height 0.6s;
	display: none;
}
.series-wrap{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: orange;
}
.quality{
	width: fit-content;
	max-width: 100%;
	border-radius: 4px;
	margin-top: 5px;
	margin-right: 10px;
	display: inline-flex;
}
.bottom-details{
	background-color: rgba(0, 9, 22, 0.5);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*flex-wrap: wrap;*/
	padding: 2%;
	width: 100%;
	height: 100%;
}
.episode-row{
	display: flex;
	flex-wrap: wrap;
}

.downloadShow{
	flex-shrink: 1;
}
.episode-label{
	flex-shrink: 1;
	align-self: center;
	width: fit-content;
	padding: 5px;
	height: 90%;
	text-align: center;
	word-wrap: break-word;
}
.season-toggle{
	cursor: pointer;
}
.season-toggle:hover{
	background-color: rgba(255, 162, 35, 0.8);
}
.imdb{
	color: yellow;
}
.videogular{
	width: 100%;
	border: 1px solid yellow;
}

.series-details{
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	background-color: transparent;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.watch-control{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	
	height: fit-content;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.62);
	margin-bottom: 10px;
}
.trailer{
	max-width: 500px;
	flex-shrink: 1;
}

.watchbtn > button{
	width: 100%;
	max-height: 100px;
}
.watchbtn{
	padding: 10px;
	width: 100%;
	height: 100%;

}
.youtube{
	flex-shrink: 1;
	height: 100%;
	width: 100%;
	max-width: 600px;
}
.series-info{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.52);
	color: white;
	padding: 10px;
	min-width: 300px;
}
.image-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0,0,0,0.52);
}
.series-image{
	max-width: 100%;
	min-width: 300px;
	max-height: 600px;
	background-color: rgba(0,0,0,0.52);
}

.cast-wrap{
	flex-grow: 1; 
	min-width: 140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*border: 1px solid green;*/
	margin-top: 10px;
}
.cast-card{
	width: 75px;
	height: 130px;
	border-radius: 5px;
	padding: 0.5%;
	margin: 1%;
	margin-top: 5px;
	background-color: white;
}
.cast{
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
}
.cast-image{
	width: 100%;
	max-width: 70px;
	height: auto;
	margin-bottom: 5px;
}
.cast-name{
	font-size: 0.9em;
}
.comment-section{
	flex-shrink: 1;
}
.comment{
	display: flex;
	margin: 1.5%;
}
.comment-body{
	flex-shrink: 1;
	color: white;
}
.comment-image{
	margin-right: 2%;
	max-width: 80px;
	height: auto;
	max-height: 80px;
}
.comment-form{
	margin: 2%;
}


@media (max-width: 960px) {
	.series-details{
		flex-wrap: wrap;
	}
}
@media (max-width: 920px) {
	.series-image{
		min-width: 200px;
	}
}

@media (max-width: 600px) {
	.series-info{
		min-width: 260px;
	}
}