<div *ngIf="displayLoad" class="loading-container">
	<div class="loading"></div>
</div>

<div *ngIf="!displayLoad" class="mainForm">

	<div class="seriesWrapper" >
		<div class="series-details" [ngStyle]="{'background-image': 'url(' + Details.tv_results[0].backdrop + ')'}">
			<div class="image-wrap">
				<img class="series-image" src="{{ Details.tv_results[0].poster }}">
				<div class=" btn-group watchbtn">
					<button *ngIf=" !showdetails " class="btn btn-outline-primary" (click)="downloadSeries()">Download Episode</button>
				</div>
			</div>
			

			<div class="series-info">
				<h1>{{ Details.tv_results[0].name }}</h1>
				<h3>First air: {{ Details.tv_results[0].airdate }}</h3>
				<div class="ratings">
					<h1><i class="fab fa-imdb imdb"></i> {{ Details.tv_results[0].rating }}</h1>
					<p class="text-warning" >  from {{ Details.tv_results[0].votes }} votes</p>
				</div>
				
				<div class="series-summary">
					<p>{{ Details.tv_results[0].overview }}</p>
				</div>
				
				<hr style="background: white; width: 100%;"/>
			</div>


		</div>


		<vg-player *ngIf=" watch " class="videogular" (onPlayerReady)="onPlayerReady($event)">
			<vg-overlay-play></vg-overlay-play>
			<vg-buffering [vgFor]=" videoPlayer " ></vg-buffering>


			<video [vgMedia]="media" #media id="videoPlayer" preload="auto" >
				<source [src]="source" type="video/mp4">
			</video>
	
			<vg-controls>
				<vg-play-pause [vgFor]=" videoPlayer "></vg-play-pause>
				<vg-playback-button [vgFor]=" videoPlayer "></vg-playback-button>

				<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

				<vg-scrub-bar>
					<vg-scrub-bar-current-time [vgFor]=" videoPlayer "></vg-scrub-bar-current-time>
					<vg-scrub-bar-buffering-time [vgFor]=" videoPlayer "></vg-scrub-bar-buffering-time>
				</vg-scrub-bar>

				<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
				<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

				<vg-track-selector></vg-track-selector>
				<vg-mute></vg-mute>
				<vg-volume></vg-volume>
				<vg-fullscreen></vg-fullscreen>
			</vg-controls>
			
		</vg-player>

	
<!-- 
	<div  *ngFor="let seasons of episodesList; index as seasonCount" class="card">

		<div class="card-header">
			<a class="card-link" data-toggle="collapse" href="#collapse{{seasonCount}}">Season: {{seasonCount}}</a>
		</div>
		<div id="#collapse{{seasonCount}}" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<ul class="list-group">
					<li style="color: black" *ngFor="let episodes of seasons; index as episodeCount" class="list-group-item ">
						<button *ngFor="let quality of episodes">Episode: {{episodeCount}}</button>
					</li>
					<p>seasons here</p>
				</ul>
			</div>
		</div>
	</div> -->





<div class="episodes-container">
	
	<li *ngFor="let seasons of episodesList; index as seasonCount" class="list-group">
		<a class="list-group-item season-toggle" (click)="toggleSeason(seasonCount)"><h2 style="text-align: center; color: black" class="head">Season {{seasonCount + 1}} <i class="fas fa-caret-down"></i></h2></a>
		<ul [ngClass]=" seasonToggle == seasonCount ? '': 'submenu-closed'" class="episode-row" class="list-group-item" *ngFor="let episodes of seasons; index as episodeCount">
			<h4 class="episode-label" style="color: black">Episode {{episodeCount + 1}}</h4>
			<button class="btn-sm btn-primary" *ngFor=" let quality of episodes ">
				Load: {{quality.quality}}
			</button>
		</ul>
	</li>

</div>

</div>


