<div *ngIf="displayLoad" class="loading-container">
	<div class="loading"></div>
</div>

<div *ngIf="!displayLoad" class="mainForm">

	<div class="seriesWrapper" >
		<div class="series-details" [ngStyle]="{'background-image': 'url(' + Details.tv_results[0].backdrop + ')'}">
			<div class="image-wrap">
				<img class="series-image" src="{{ Details.tv_results[0].poster }}">
				<div class=" btn-group watchbtn">
					<button *ngIf=" !showdetails " class="btn btn-outline-primary" [disabled]="currDownload" (click)="downloadSeries(0)">Download Episode</button>
				</div>
			</div>
			

			<div class="series-info">
				<h1>{{ Details.tv_results[0].name }}</h1>
				<h3>First air: {{ Details.tv_results[0].airdate }}</h3>
				<div class="ratings">
					<h1><i class="fab fa-imdb imdb"></i> {{ Details.tv_results[0].rating }}</h1>
					<p class="text-warning" >  from {{ Details.tv_results[0].votes }} votes</p>
				</div>
				
				<div class="series-summary">
					<p>{{ Details.tv_results[0].overview }}</p>
				</div>
				
				<hr style="background: white; width: 100%;"/>
				<p class="text-warning" *ngIf="dowloadMessage != null">{{ dowloadMessage }}</p>
			</div>


		</div>


		<vg-player *ngIf=" watch " class="videogular" (onPlayerReady)="onPlayerReady($event)">
			<vg-overlay-play></vg-overlay-play>
			<vg-buffering [vgFor]=" videoPlayer " ></vg-buffering>


			<video [vgMedia]="media" #media id="videoPlayer" preload="auto" crossorigin>
				<source [src]="source" type="video/mp4">
				<track style="color: black" kind="subtitles" label="English"  *ngIf="subtitlesStreameng" [src]="subtitlesStreameng" srclang="en" default='true'>
				<track style="color: black" kind="subtitles" *ngIf="subtitlesStreamfre" label="French" [src]="subtitlesStreamfre" srclang="fr" default='false'>
			</video>
	
			<vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5">
				<vg-play-pause [vgFor]=" videoPlayer "></vg-play-pause>
				<vg-playback-button [vgFor]=" videoPlayer "></vg-playback-button>

				<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

				<vg-scrub-bar>
					<vg-scrub-bar-current-time [vgFor]=" videoPlayer "></vg-scrub-bar-current-time>
					<vg-scrub-bar-buffering-time [vgFor]=" videoPlayer "></vg-scrub-bar-buffering-time>
				</vg-scrub-bar>

				<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

				<vg-track-selector></vg-track-selector>
				<vg-mute></vg-mute>
				<vg-volume></vg-volume>
				<vg-fullscreen></vg-fullscreen>
			</vg-controls>
			
		</vg-player>

	<div *ngIf="currDownload || checkDownload" class="bg-dark  loading-container">
		<div class="loading"></div>
	</div>

	<div class="episodes-container">
		<li *ngFor="let seasons of episodesList; index as Count" class="list-group">
			<a class="list-group-item season-toggle" (click)="toggleSeason(Count)"><h2 style="text-align: center; color: black" class="head">Season {{ seasonCount[Count] }} <i class="fas fa-caret-down"></i></h2></a>
			
			<ul [ngClass]=" seasonToggle == Count ? 'episode-row': 'submenu-closed'" class="list-group-item " *ngFor="let episodes of seasons; index as episodeCount">
				<h6 class="episode-label lead text-muted">Episode {{episodes.episode.index}}</h6>
				<div class="btn-group episode-buttons" role="group" aria-label="Basic example">
				  <button  (click)="downloadShow(link,Count,episodes.episode.index,0)" [disabled]="currDownload "  *ngFor=" let link of episodes['links'] " type="button" class="btn btn-secondary">Load: {{link.quality}}</button>
				</div>
			</ul>

		</li>
	</div>
			<div class="bottom-details">
		
			<!-- comments section -->
			<div class="comment-section">
				<h2>Comments</h2>

				<button (click)="loadComments()" class="btn btn-success">Load Comments</button>
				
				<div *ngIf="!commentsFound">
					<h3>Be the first to comment on this movie</h3>
				</div>

				<button (click)="addCommentButton()" class="btn btn-dark">Add A Comment</button>
				
				<div *ngIf="editButton">
					<form #commentform="ngForm" (ngSubmit)="addComments(commentform)" class="comment-form">
						<div class="form-group">
							<h3>Add A Comment:</h3>
							<input type="text" id="comment" class="form-control" ngModel name="comment" required minlength="3" maxlength="300" comment
							 #comment="ngModel">
							<span class="help-block" *ngIf="!comment.valid && comment.touched">Please enter a comment to submit between 3 and 300 characters</span>
						</div>
						<button class="btn btn-outline-success" [disabled]="!commentform.valid">Submit Comment</button>
					</form>
				</div>

				<div *ngFor="let comments of loadedCommentsdb | async" class="comment">
					<img *ngIf="comments.Photo" src='{{comments.Photo}}' class="comment-image" >
					<img *ngIf="!comments.Photo"  class="comment-image" src="../../assets/no-thumbnail.png">
					<div class="alert alert-dark comment-body bg-dark" role="alert">
						<p>{{comments.Comments}}</p>
						<hr>
						<small class="mb-0 text-muted">{{comments.userName}} - {{comments.Dateadded}}</small>
					</div>
				</div>
			</div>
			<!-- //end of comments -->

		</div>


</div>


