<div *ngIf="displayLoad" class="loading-container">
	<div class="loading"></div>
</div>

<div *ngIf="!displayLoad" class="mainForm">
	<div class="videoWrapper">

		<div class="movie-details" [ngStyle]="{'background-image': 'url(' + Movie.backround_image + ')'}">
			<div class="image-wrap">
				<img class="movie-image" src="{{ Movie.image }}">
				<div class=" btn-group watchbtn">
					<button *ngFor="let torrent of Movie.torrents"  class="btn btn-outline-primary" (click)="downloadMovie(torrent)">{{torrent.quality}}</button>
				</div>
			</div>

			<div class="movie-info">
				<h1>{{ Movie.title }}</h1>
				<h3>{{ Movie.year }}</h3>
				<div class="ratings">
					<h1>
						<i class="fab fa-imdb imdb"></i> {{Movie.rating}}</h1>
				</div>

				<div class="movie-summary">
					<p>{{ Movie.summary }}</p>
				</div>


				<div class="movie-summary">
					<span class="movie-genre" *ngFor="let genre of Movie.genres">{{genre}}. </span>
				</div>

				<hr style="background: white; width: 100%;" />

				<div class="watch-control">
					<div class="embed-responsive embed-responsive-16by9 trailer">
						<iframe *ngIf=" Movie.trailer" class="youtube" [src]="Movie.trailer" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
					<div class="cast-wrap">
						<div *ngFor="let cast of Movie.cast" class="card cast-card">
							<div class="cast">
								<img class="cast-image img-thumbnail" *ngIf="cast.url_small_image" src="{{cast.url_small_image}}">
								<img class="cast-image img-thumbnail" *ngIf="!cast.url_small_image" src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-fill-circle-512.png">
								<p class="cast-name"> {{ cast.name }} </p>
							</div>
						</div>
					</div>
				</div>



				<!-- comments section -->
				<div>
					<h2>Comments</h2>

					<button (click)="loadComments()" class="btn btn-success">Load Comments</button>
					<div *ngIf="!commentsFound">
						<h3>Be the first to comment on this movie</h3>
					</div>


					<div *ngFor="let comments of loadedCommentsdb | async" style="border: 2px solid rgb(78, 71, 71);">
						<br>
						<ul style="list-style-type: none;">
							<li>
								<div class="l-media">
									<div class="l-media__figure">
										<div class="comment-profile-pic">
											<img *ngIf="comments.Photo" src='{{comments.Photo}}' style="width: 48px;
											height: 48px;" align="left">
											<img *ngIf="!comments.Photo" src="../../assets/no-thumbnail.png" style="width: 48px;
											height: 48px;" align="left">

											<h1 class="comment-user-name">
												{{comments.userName}}
											</h1>

										</div>
									</div>
									<div class="l-media__body">

										<h5>{{comments.Dateadded}}</h5>
										<div class="vjs-comment-list">
											<p>{{comments.Comments}}</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>


					<button (click)="addCommentButton()" class="btn btn-dark">Add A Comment</button>
					<div *ngIf="editButton">
						<form #commentform="ngForm" (ngSubmit)="addComments(commentform)" class="login-form">
							<div class="form-group">
								<h3>Add A Comment:</h3>
								<input type="text" id="comment" class="form-control" ngModel name="comment" required minlength="3" maxlength="300" comment
								 #comment="ngModel">
								<span class="help-block" *ngIf="!comment.valid && comment.touched">Please enter a comment to submit between 3 and 300 characters</span>
							</div>
							<button class="btn btn-outline-success" [disabled]="!commentform.valid">Submit Comment</button>
						</form>
					</div>

				</div>

			</div>
			
		</div>

			<vg-player *ngIf=" watch " class="videogular" (onPlayerReady)="onPlayerReady($event)">
				<vg-overlay-play></vg-overlay-play>
				<vg-buffering [vgFor]=" videoPlayer " ></vg-buffering>

				<!-- video source -->
				<video [vgMedia]="media" #media id="videoPlayer" preload="auto" >
					<source [src]="source" type="video/mp4">
				</video>
				<!-- video player controls -->
				<vg-controls>
					<vg-play-pause [vgFor]=" videoPlayer "></vg-play-pause>
					<vg-playback-button [vgFor]=" videoPlayer "></vg-playback-button>

					<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

					<vg-scrub-bar>
						<vg-scrub-bar-current-time [vgFor]=" videoPlayer "></vg-scrub-bar-current-time>
						<vg-scrub-bar-buffering-time [vgFor]=" videoPlayer "></vg-scrub-bar-buffering-time>
					</vg-scrub-bar>

					<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
					<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

					<vg-track-selector></vg-track-selector>
					<vg-mute></vg-mute>
					<vg-volume></vg-volume>
					<vg-fullscreen></vg-fullscreen>
				</vg-controls>
				
			</vg-player>
	</div>