.detailswrapper{
	background-color: red;
	height: 100%;
	width: 100%;
}body{
	background-color: #2e2e2e;
}
.videoWrapper{
	width: 100%;
	height: 60%;
}

.movie-wrap{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: orange;
}

.imdb{
	color: yellow;
}
.videogular{
	width: 100%;
	border: 1px solid yellow;
}

.movie-details{
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	background-color: transparent;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.bottom-details{
	background-color: rgba(0, 9, 22, 0.5);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*flex-wrap: wrap;*/
	padding: 2%;
	width: 100%;
	height: 100%;
}
.cover-container{
	max-width: 900px;
	height: fit-content;
	flex-shrink: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 2%;
}
.cover-selector-container{
	flex-grow: 1;
	width: 100%;
	margin: 1%;
	display: flex;
	justify-content: space-between;
}
.cover-tiny{
	max-width: 100%;
}
.cover-image{
	max-width: 100%;
	width: 100%;
	height: auto;
	/*max-height: 70%; */
}
.cover{
	margin: 1%;
	max-width: 100%;
	object-fit: scale-down;
}
.active-cover{
	border: 1.2px solid cornflowerblue;
}
.comment-section{
	flex-shrink: 1;
}
.comment{
	display: flex;
	margin: 1.5%;
}
.comment-body{
	flex-shrink: 1;
	color: white;
}
.comment-image{
	margin-right: 2%;
	max-width: 80px;
	height: auto;
	max-height: 80px;
}
.comment-form{
	margin: 2%;
}
.watch-control{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	width: 100%;
	height: fit-content;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.62);
	margin-bottom: 10px;
}
.trailer{
	max-width: 500px;
	flex-shrink: 1;
}

.watchbtn > button{
	width: 100%;
	max-height: 100px;
}
.watchbtn{
	padding: 10px;
	width: 100%;
	height: 100%;

}
.youtube{
	flex-shrink: 1;
	height: 100%;
	width: 100%;
	max-width: 600px;
}
.movie-info{
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.52);
	color: white;
	padding: 10px;
	min-width: 300px;
}
.image-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0,0,0,0.52);
}
.movie-image{
	max-width: 100%;
	min-width: 300px;
	max-height: 600px;
	background-color: rgba(0,0,0,0.52);
}

.cast-wrap{
	flex-grow: 1; 
	min-width: 140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*border: 1px solid green;*/
	margin-top: 10px;
}
.cast-card{
	width: 75px;
	height: 130px;
	border-radius: 5px;
	padding: 0.5%;
	margin: 1%;
	margin-top: 5px;
	background-color: rgba(0, 10, 28, 0.75);
	box-sizing: border-box;
}
.cast{
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	color: white;
}
.cast-image{
	width: 100%;
	max-width: 70px;
	height: auto;
	margin-bottom: 5px;
}
.cast-name{
	font-size: 0.9em;
}
.vjs-comment-list {
	list-style-type: none;
	position: relative;
	font-size: 3;
	position: relative;
	margin-bottom: 10px;
	font-family: "Times New Roman", Times, Arial, sans-serif !important;
}

.comment-user-name{
	top:0;
	left:80px;
	font-size: 10;
	font-family: "Times New Roman", Times, Arial, sans-serif !important;
	font-weight: bold;
}

.comment-id {
	top: 0;
	left: 100px;
	font-size: 8;
	color: red;
	font-family: "Times New Roman", Times, Arial, sans-serif !important;
}
.comment-profile-pic{
	top:0;
	left:0;
	background-repeat: no-repeat;
}
@media (max-width: 1200px) {
	.bottom-details{
		flex-wrap: wrap;
	}
}
@media (max-width: 960px) {
	.movie-details{
		flex-wrap: wrap;
	}
}
@media (max-width: 920px) {
	.movie-image{
		min-width: 200px;
	}
}

@media (max-width: 600px) {
	.movie-info{
		min-width: 260px;
	}
}
