.detailswrapper{
	background-color: red;
	height: 100%;
	width: 100%;
}body{
	background-color: #2e2e2e;
}
.videoWrapper{
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 60%;
}
.movie-wrap{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: orange;
}

.videogular{
	width: 100%;
	border: 1px solid yellow;
}

.movie-details{
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	background-color: transparent;
	/*justify-content: center;*/
	width: 100%;
	height: 100%;
}
.movie-info{
	display: flex;
	flex-shrink: 1;
	flex-direction: column;
	background-color: rgba(0,0,0,0.52);
	color: white;
	padding: 10px;
	min-width: 260px;
	width: 100%;
}
.movie-image{
	max-width: 100%;
	max-height: 600px;
	object-fit: scale-down;
}
@media (max-width: 950px) {
	.movie-details{
		justify-content: center;
		flex-wrap: wrap;
	}
}

<<<<<<< HEAD
=======


.vjs-comment-list {
    list-style-type: none;
    position: relative;
    /* background: #D9E254; */
    font-size: 3;
    position: relative;
    /* max-width: 350px; */
    /* -moz-user-select: text !important; */
    margin-bottom: 10px;
    font-family: "Times New Roman", Times, Arial, sans-serif !important;
  /* border-right:  solid 5px #118C4E; */
}

.comment-user-name{
  
  top:0;
  left:80px;
  font-size: 10;
  font-family: "Times New Roman", Times, Arial, sans-serif !important;
  font-weight: bold;

}

.comment-id {
    top: 0;
    left: 100px;
    font-size: 8;
    color: red;
    font-family: "Times New Roman", Times, Arial, sans-serif !important;
}
.comment-profile-pic{
 top:0;
 left:0;
background-repeat: no-repeat;
}
>>>>>>> origin/Lance
