.flex{
	width: 100%;
	height: 100%;
	/*background-color: red;*/
	display: flex;
	align-content: center;
	justify-content: center;
}
.register-form{
	margin-top: 50px;
	width: 100%;
	max-width: 600px;
	/*background-color: orange;*/
}

input.ng-invalid.ng-touched {
	border: 3px solid red;
}