<div [ngClass]=" navOpen ? 'toggled': ''" id="wrapper">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand"><a href="#">WATCH ANYTHING!</a></li>
			<li><a routerLinkActive="active" routerLink="/Movies">Movies</a></li>
			<li><a routerLinkActive="active" routerLink="/Series">Series</a></li>
			<li><a routerLinkActive="active">Genre</a></li>
			<li><a routerLinkActive="active" routerLink="/Login">Login</a></li>
			<li><a routerLinkActive="active" routerLink="/Register">Register</a></li>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->
	<nav class="navbar sticky-top navbar-dark bg-dark">
		<a (click)="toggleNavbar();" class="btn navbar-button navbar-brand" style="color: white">HyperTube</a>
		<form class="form-inline searchbox">
			<div class="Search">
				<input class="form-control mr-sm-1" type="text" placeholder="Search">
				<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
			</div>
		</form>
	</nav>
	<!-- Page Content -->
	<div id="page-content-wrapper">
			
		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- /#sidebar-wrapper -->

