<h1>Login</h1>
<p>
	<kbd>Login</kbd> to download content!</p>
<div style="display: flex; 
	flex-direction: row; ">
	<button class="btn btn-outline-warning api-login2" (click)="resetButton()">Reset Password</button>
</div>
<div *ngIf="msg" class="alert alert-success alert-dismissible fade show">{{msg}}</div>
<div class="row">
	<div class="flex" *ngIf="!editButton">
		<form #f="ngForm" (ngSubmit)="emailAndPasswordLogin(f)" class="login-form">
			<div class="form-group">
				<h3>Email:</h3>
				<input type="Email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
				<span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email for example: user@example.com</span>
				<!-- pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" -->
			</div>
			<div class="form-group">
				<h3>Password:</h3>
				<input type="password" class="form-control" ngModel name="password" required minlength="8" #confirmpassword="ngModel">
				<span class="help-block" *ngIf="!confirmpassword.valid && confirmpassword.touched">Password min length must be greater than 8</span>
			</div>

			<div class="login-buttons form-group">
				<button class="btn btn-outline-success" [disabled]="!f.valid">Login</button>
				<button class="btn btn-outline-default">Cancel</button>

			</div>

		</form>

		<div style="display: flex; 
		flex-direction: column; width: 100%">
			<h3>Alternate Login</h3>
			<button class="btn btn-outline-warning api-button" (click)="facebookLogin()">Facebook</button>
			<button class="btn btn-outline-warning api-button" (click)="is42Login()">42</button>
			<button class="btn btn-outline-warning api-button" type="button" (click)="googleLogin()">Google</button>
		</div>
		<!-- <div class="alert alert-danger alert-dismissible fade show" *ngIf="errormsg">
				{{errormsg}}</div> -->

	</div>
	<div *ngIf="editButton">
		<form #emailform="ngForm" (ngSubmit)="emailReset(emailform)" class="login-form">
			<div class="form-group">
				<h3>Email:</h3>
				<input type="Email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
				<span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email for example: user@example.com</span>
				<!-- pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" -->
			</div>
			<!-- <div class="alert alert-danger alert-dismissible fade show" *ngIf="errormsg.length">
				{{errormsg}}</div> -->
			<button class="btn btn-outline-success" [disabled]="!emailform.valid">Reset Email</button>
		</form>
	</div>

</div>