.flex{
	width: 100%;
	height: 100%;
	/*background-color: red;*/
	display: flex;
	align-content: center;
	justify-content: center;
}
.login-form{
	margin-top: 50px;
	width: 100%;
	max-width: 600px;
	/*background-color: orange;*/
}
.api-login{
	display: flex;
	align-content: center;
	justify-content: center;
}
.api-button{
	width: 100%;
	margin: 10px;
	color: black;
}
.login-buttons{
	margin-top: 30px;
}