<div *ngIf="displayLoad" class="loading-container">
	<div class="loading"></div>
</div>
<div style="display: flex; 
	flex-direction: row; ">
	<button *ngIf="searchVerify" class="btn btn-outline-success api-button" style="margin-left: 50%;" (click)="editProfile()">Edit profile</button>
	<button *ngIf="searchVerify" class="btn btn-outline-success api-button" style="padding-left: 5px;" (click)="editEmail()">Change Email</button>
	<button class="btn btn-outline-success api-button" [ngClass]="!searchVerify ? 'buttonpos': '' " style="padding-left: 5px;"
	 (click)="searchProfileButton()">Search for a user</button>

</div>
<div class="alert alert-danger alert-dismissible fade show" *ngIf="errorSearchmsg">
	{{errorSearchmsg}}
</div>
<div class="profile-wrap" *ngIf="!displayLoad">

	<div>
		<div class="card">
			<img *ngIf="photo" src="{{photo}}" style="width:100%" alt="avatar">
			<img *ngIf="!photo" src="../../assets/no-thumbnail.png" style="width:100%" alt="avatar">
			<!-- <h6 class="mt-2">Upload a different photo</h6>
								<label class="custom-file">
									<input type="file" id="file" class="custom-file-input">
									<span class="custom-file-control">Choose file</span>
								</label> -->
			<h5 class="mb-3" *ngIf="username">UserName: {{username}}</h5>
			<!-- <h5 class="mb-3" *ngIf="!username else ">{{email}}</h5> -->
			<h6>About</h6>
			<!-- {{email}} -->
			<p>
				Firstname: {{Firstname}} Lastname: {{Lastname}}
			</p>
			<div *ngIf="searchVerify">
				<h3 class="title">Are you verified</h3>
				<p *ngIf="!verified" class="title">
					NO
				</p>
				<p *ngIf="verified" class="title">
					YES
				</p>
			</div>

		</div>

	</div>
	<!-- Button trigger modal -->
	<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
		Launch demo modal
	</button> -->

	<!-- Modal -->
	<div class="modal fade" [ngClass]="reauth ? 'exampleModal' : '' " tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Re-authenticate</h5>
					<button type="button" class="close" type="button" (click)="onCancel()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form #reauthform="ngForm" (ngSubmit)="reauthlogin(reauthform)" class="login-form">
						<div class="form-group">
							<h3>Username:</h3>
							<input type="text" class="form-control" ngModel name="usernameauth" required minlength="5" #usernameauth="ngModel">
							<span class="help-block" *ngIf="!usernameauth.valid && usernameauth.touched">Please enter a valid username minimum characters is length is 5</span>
							<!-- <span class="help-block" *ngIf="errormsg || userfound && username.touched">This username is already in use</span> -->
							<!-- <span *ngFor="let user of usersdb | async">This username @{{user.username}} is already in use.</span> -->
						</div>
						<div class="form-group">
							<h3>Password:</h3>
							<input type="password" class="form-control" ngModel name="password" required minlength="8" #confirmpassword="ngModel">
							<span class="help-block" *ngIf="!confirmpassword.valid && confirmpassword.touched">Password min length must be greater than 8</span>
						</div>
						<div class="login-buttons form-group">
							<button class="btn btn-outline-success" [disabled]="!reauthform.valid">Login</button>
							<button class="btn btn-outline-default" type="button" (click)="onCancel()">Cancel</button>

						</div>
					</form>
					<div class="alert alert-danger alert-dismissible fade show" *ngIf="reautherrormsg">
						{{reautherrormsg}}</div>
				</div>

				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div> -->
			</div>
		</div>
	</div>
	<div style="overflow: hidden;" *ngIf="searchButton">
		<form #searchform="ngForm" (ngSubmit)="onSearchProfile(searchform)" class="register-form">
			<h3>search:</h3>
			<input type="search" class="form-control" name="search" ngModel required #search="ngModel">
			<div class="register-buttons form-group">
				<button class="btn btn-outline-success" type="Submit" [disabled]="!searchform.valid">Search</button>
				<button class="btn btn-outline-default" type="button" (click)="searchProfileButton()">Cancel</button>
			</div>
		</form>
		<ng-template #Info>
			<div class="alert alert-info">
				<strong>Info!</strong> Search for a user via their username
			</div>
		</ng-template>
		<div class="alert alert-warning" *ngIf="errormsg; else Info">
			<strong>Error!</strong> {{errormsg}}
		</div>
	</div>

	<div style="overflow: hidden;" *ngIf="editEmailButton">
		<form #emailform="ngForm" (ngSubmit)="onEditEmail(emailform)" class="register-form">
			<h3>Email:</h3>
			<input type="email" class="form-control" name="email" ngModel required email #email="ngModel">
			<div class="register-buttons form-group">
				<button class="btn btn-outline-success" type="Submit" [disabled]="!emailform.valid">Update</button>
				<button class="btn btn-outline-default" type="button" (click)="editEmail()">Cancel</button>
			</div>
		</form>
		<ng-template #Info>
			<div class="alert alert-info">
				<strong>Info!</strong> If you haven't signed in recently you will need to re-authenticate yourself to change your email
			</div>
		</ng-template>
		<div class="alert alert-warning" *ngIf="errormsg; else Info">
			<strong>Error!</strong> {{errormsg}}
		</div>
	</div>
	<div style="overflow: hidden" *ngIf="editButton">
		<form #form="ngForm" (ngSubmit)="onEditProfile(form)" class="register-form">
			<div class="form-group">
				<h3>Username:</h3>
				<input type="text" class="form-control" ngModel name="username" minlength="5" #username="ngModel">
				<span class="help-block" *ngIf="!username.valid && username.touched">Please enter a valid email minimum characters is 5</span>
				<span class="help-block" *ngFor="let username of usersdb | async">This username @{{username.username}} is already in use.</span>
			</div>
			<div class="form-group">
				<h3>Photo:</h3>
				<input type="text" class="form-control" ngModel name="photo" #photo="ngModel">
				<!-- <span class="help-block" *ngIf="!password.valid && password.touched">Please enter the same password</span> -->
			</div>
			<p>OR</p>
			<div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
				<h3>AngularFire Drop Zone</h3>
				<div class="file">
					<label class="row" style="margin-left: 50px;">
						<input class="file-input" type="file" (change)="startUpload($event.target.files)">
						<span class="file-cta">
							<span class="file-icon">
								<i class="fa fa-upload"></i>
							</span>
							<span class="file-label">
								or choose a file…
							</span>
						</span>
					</label>
				</div>
			</div>
			<div *ngIf="percentage | async as pct">
				<progress class="progress is-info" [value]="pct" max="100">
				</progress>
				{{ pct | number }}%
			</div>
			<div *ngIf="snapshot | async as snap">
				{{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}

				<button (click)="task.pause()" class="btn btn-outline-warning api-button" [disabled]="!isActive(snap)">Pause</button>
				<button (click)="task.cancel()" class="btn btn-danger" [disabled]="!isActive(snap)">Cancel</button>
				<button (click)="task.resume()" class="btn btn-success" [disabled]="!(snap?.state === 'paused')">Resume</button>
			</div>
			<!-- <app-file-upload></app-file-upload> -->
			<div class="register-buttons form-group">
				<button class="btn btn-outline-success" type="Submit" [disabled]="!form.valid">Update</button>
				<button class="btn btn-outline-default" type="button" (click)="editProfile()">Cancel</button>
			</div>
		</form>
		<div class="alert alert-warning" *ngIf="errormsg">
			<strong>Error!</strong> {{errormsg}}
		</div>
	</div>
	<!-- <div style="flex-wrap: wrap; flex-grow: 1;" *ngFor="let movie of watchedMovies">
		<img src="{{movie.moviepic}}" style="height: 300px;">
	</div> -->
	<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
		<div *ngIf="movieError">{{movieError}}</div>
		<div *ngFor="let movie of watchedMovies">

			<img src="{{movie.moviepic}}" class="items">
			<h3>{{movie.movieTitle | ellipsis: 15}}</h3>
			<!-- </article> -->
		</div>
	</div>

</div>