.profile-wrap {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	/*justify-content: center;*/
	background-color: white;
	color: black;
	justify-content: space-around;
}

.profile-card{
	margin-right: 5px;
	height: 100%;
	width: fit-content;
	background-color: white;
	color: black;
	max-width: 500px;
	border: 1px solid black;
}
.profile-image{
	max-width: 100%;	
}
.register-form{
	flex-shrink: 1;
	color:black;
	/*border: 1px solid yellow;*/
}
.edit-profile{
	padding: 10px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	flex-grow: 1;
	flex-shrink: 1;
	background-color: rgba(33, 68, 124, 0.8);
	max-width: 900px;
}
.file-input{
	width: 50%;
}
.file{
	color: black;
}

.dropzone { 
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px dashed black;
	border-radius: 5px;
	background: white;
	margin: 10px 0;
	&.hovering {
		border: 2px solid #f16624;
		color: #dadada !important;
	}
	
	.file-label {
		font-size: 1.2em
	}
}
progress::-webkit-progress-value {
	transition: width 0.1s ease;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	// margin: auto;
	text-align: center;
}

.title {
	color: grey;
	font-size: 18px;
}

.profile-card{
	height: fit-content;
}
.register-buttons{
	margin-top: auto;
}

.exampleModal {
	display: block;
	opacity: 1;
	// position: fixed;
	z-index: 1072;
	padding-right: 16px;
}
.items {
	height: 300px;
	padding: 10px;
}

.animate-zoom {
	animation:animatezoom 0.6s
}
@keyframes animatezoom{
	from{
		transform:scale(0)
	} 
	to{
		transform:scale(1)
	}
}
.animate-right{
	position:relative;
	animation:animateright 0.4s
}
@keyframes animateright{
	from{
		right:-300px;opacity:0
	} 
	to{
		right:0;opacity:1
	}
}
.animate-left{
	position:relative;
	animation:animateleft 0.4s
}
@keyframes animateleft{
	from{
		left:-300px;opacity:0
	} 
	to{
		left:0;opacity:1
	}
}
.animate-flash {
	animation: animateflash 2s infinite;
}
@keyframes animateflash{
	from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}