.series-card{
	cursor: pointer;
	border: 2px solid transparent;
	margin-bottom: 8.5px;	
}
.series-title{
	word-wrap: normal;
}
.series-card:hover{
	border: 2px solid #1ea1ff;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
}
.mainForm {
	/*background-color: orange;*/
	width: 100%;
	overflow-y: hidden;
	display: flex;
	flex-wrap: wrap;
}

.series-title{
	width: 100%;
}
.series-panel-content:hover{
	 border: 2px solid #3f3fff;
}

@media (max-width: 830px) {
	.series-title{
		font-size: 13px;
	}
}
@media (max-width: 550px) {
	.series-title{
		font-size: 20px;
	}
}
@media (max-width: 1250px) {
	.series-title{
		font-size: 14px;
	}
}