<h1 *ngIf="!viewShows ">Featured Series</h1>
<h1 *ngIf="viewShows ">All Shows</h1>
<p><kbd>Hover</kbd> on any series to view more details.</p>

<div *ngIf="displayLoad" class="loading-container">
	<div class="loading"></div>
</div>

<div *ngIf="!displayLoad && viewShows " class="show-sort">
	<a (click)="switchIndex(char)" class="show-filter" *ngFor="let char of filter">{{char}}</a>
</div>

<div *ngIf="!displayLoad" class="mainForm">
	<div *ngFor="let series of Series" class="series-card" id="{{series.id}}" (mouseover)="showContent(series.id)" (mouseleave)="showContent()">
		<img class="series-image" src="{{ series.image }}">
		<div class="overlay">
			<div class="header series-header">
				<span class="author">Season: {{ series.season }}</span>
				<h1 class="lead series-title">
					<a>{{ series.title | ellipsis:80 }}</a>
				</h1>
				<p>File-Size: {{ bytesToSize(series.size_bytes) }}</p>
				<hr style="background: white;" />
			</div>
			<div class="series-content">
				<p [ngClass]=" (hoverSeries == series.id) ? 'summary-show': 'summary-hide'" class="series-summary"> Seeders:
					<em>{{ series.seeds }}</em>
					<br> Peers:
					<em>{{series.peers}}</em>
				</p>
			</div>
			<div class="series-footer">
				<button class="btn btn-outline-primary" (click)="viewSeries( series.imdb, series.hash, series.filename )">Watch Now</button>
				<button *ngIf="series.imdb" (click)="getRating(series.imdb)" class="btn btn-success">More</button>
			</div>
		</div>
	</div>
</div>
 
<div *ngIf="!displayLoad && viewShows " class="show-mainForm">
	<div *ngFor="let show of Shows" class="show-card" id="{{show.id}}" (mouseover)="showContent(show.id)" (mouseleave)="showContent()">
		<div>
			<img *ngIf=" show.tmdb['poster_path'] != null " class="show-image" src="{{ 'https://image.tmdb.org/t/p/w400_and_h600_bestv2' + show.tmdb['poster_path'] }}">
			<img class="show-image"  *ngIf=" show.tmdb['poster_path'] == null " src="../../assets/no-thumbnail.png">
		</div>
		
		<div class="show-overlay">
			<div class="show-header show-header">
				<span class="author">Director</span>
				<h1 class="lead show-title">
					<a>{{ show.show }}</a>
				</h1>
				<span class="year"> Language: {{show.tmdb.original_language}}</span>
				<br>
				<hr style="background: white;" />
			</div>
			<div class="show-content">
				<p [ngClass]=" (hoverSeries == show.id) ? 'show-summary-show': 'show-summary-hide'" class="show-summary">{{ show.tmdb.overview | ellipsis:350 }}</p>
			</div>
			<div class="show-footer">
				<button class="btn btn-outline-primary" (click)="viewShow(show)">Watch Now!</button>
			</div>
		</div>
	</div>
</div>

<div *ngIf="loadMore" class="loading-container">
	<div class="loading"></div>
</div>
<div class="search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="500"
 (scrolled)="onScrollDown()">
</div>